<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/style-2.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/fonts/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/fonts/icofont/css/icofont.css">

<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container" ng-app="loginApp">
       <!-- Product Description -->
       <div class="product-description">
        <h1>{{property_title}}</h1>
      </div>

      <!-- Product Pricing -->
      <div class="product-price">
        <span>{{property_price|currency:"Rs"}}</span>
      <div class="row">
          <div class="col-sm-12" ng-controller="loginController">
              <!-- Authentication card start -->
              <div class="login-card card-block auth-body mr-auto ml-auto">
                  <form class="md-float-material" action="https://paytm.com/" >
                      <div class="text-center">
                      <a class="logo">  <img src="/images/Logo.png" alt="logo.png">GreenHome</a>
                      </div>
                      <div class="auth-box">
                          <div class="input-group">
                            <input type="hidden" name="business" value="s90@gmail.com" class="form-control">
                              <span class="md-line"></span>
                          </div>
                          <div class="input-group">
                            <input type="hidden" name="cmd" value="_xclick" class="form-control">
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="cmd" value="_xclick">  
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="item_number" value="1">

                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="credits" value="510">
 
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="userid" value="1">
    
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="userid" value="1">
  
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="no_shipping" value="1">
 
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="currency_code" value="USD">

                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="currency_code" value="USD">
  
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="rm" value="2">

                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="cancel_return" value="http://localhost:3000/#!/cancel">
 
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="hidden" name="return" value="http://localhost:3000/#!/paypalSuccess">

                            <span class="md-line"></span>
                        </div>
                        <input type="image" src="https://paytm.com/offer/book-now-button/#" name="submit" alt="PayPal - The safer, easier way to pay online!">

                          </div>
                          <div class="row m-t-30">
                              <div class="col-md-12">
                                  <button type="submit" class="btn btn-info btn-md btn-block waves-effect text-center m-b-20">Login </button>
                              </div>
                          </div>
                      </div>
                  </form>
                  <!-- end of form -->
              </div>
              <!-- Authentication card end -->
          </div>
          <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>

